.form__fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-top: 8px;
  height: 30px;
  padding: 15px 20px;

  border-radius: 4px;

  font-size: 20px;
  line-height: 30px;
}

.form__button {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  background-color: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
  transition: all 1s ease-out; /* controlar el tiempo de 100% a 70% de opacidad */
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox-input {
  width: 18px;
  height: 18px;
  border-radius: 2px;

  appearance: none;
  border-radius: 3px;
  background: transparent;
  position: relative;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-input:checked {
  background: #2f80ed;
  background-image: url("/images/check.svg");
}
